<!DOCUMENT html>
<head>
    <link rel="stylesheet" href="assets/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Jersey's</span>
                <span class="heading-primary--sub">Clips &amp; Brews</span>
            </h1>
            <a href="#section-services" class="btn btn--dark">Services</a>
            <a href="#section-contact" class="btn btn--dark">Contact</a>
        </div>
    </header>

    <main class="main">
        <section class="section-about" id="section-about">
            <h2 class="heading-secondary heading-secondary--dark u-mb-l">About Us</h2>
            Jersey's was established in November of 2007 with a specialization in hair care for men who seek a new experience.
            <br class="u-hide-md" />
            We value relaxation and draft beer; our bar area is the perfect place to prepare for one of our expert stylists to give you the trim you deserve.
            <br class="u-hide-md" />
            Enjoy watching your favorite team on one of our 8 high-definition TV's as you're receiving a first class cut from our highly trained staff.
            <br class="u-hide-md" />
            Women are certainly welcome! Unfortunately we do not offer services such as perms and manicures/pedicures.
            <br class="u-hide-md" />
            Jersey's is located on the corner of Mangrove Avenue and Valambrosa near the heart of Chico.
        </section>

        <section class="section-bar">
            <h2 class="heading-secondary heading-secondary--light u-mb-l">Drinks</h2>
            <div class="row drink-row">
                <div class="col-md-4 col-sm-6">
                    <div class="drink-box drink-box--sierra-nevada">
                        <h3 class="heading-tertiary heading-tertiary--dark drink-box__title">Sierra Nevada</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="drink-box drink-box--budweiser">
                        <h3 class="heading-tertiary heading-tertiary--dark drink-box__title">Budweiser</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="drink-box drink-box--corona">
                        <h3 class="heading-tertiary heading-tertiary--dark drink-box__title">Corona</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="drink-box drink-box--shock-top">
                        <h3 class="heading-tertiary heading-tertiary--dark drink-box__title">Shock Top</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="drink-box drink-box--coca-cola">
                        <h3 class="heading-tertiary heading-tertiary--dark drink-box__title">Coca-Cola</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="drink-box drink-box--root-beer">
                        <h3 class="heading-tertiary heading-tertiary--dark drink-box__title">Weinhard's Root Beer</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-services" id="section-services">
            <h2 class="heading-secondary heading-secondary--dark">Services</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="service">
                        <h3 class="heading-tertiary heading-tertiary--dark">Cuts</h3>
                        <ul class="service__list">
                            <li class="service__list-item">
                                <span class="service-title">Basic</span>
                                <span class="service-price">$18</span>
                            </li>
                            <li class="service__list-item">
                                <span class="service-title">Buzz</span>
                                <span class="service-price">$14</span>
                            </li>
                            <li class="service__list-item">
                                <span class="service-title">Junior (12 &amp; Under)</span>
                                <span class="service-price">$15</span>
                            </li>
                            <li class="service__list-item">
                                <span class="service-title">Styled Cuts</span>
                                <span class="service-price">$23</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <h3 class="heading-tertiary heading-tertiary--dark">Trims</h3>
                        <ul class="service__list">
                            <li class="service__list-item">
                                <span class="service-title">Beard</span>
                                <span class="service-price">$7</span>
                            </li>
                            <li class="service__list-item">
                                <span class="service-title">Neck</span>
                                <span class="service-price">Free</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <h3 class="heading-tertiary heading-tertiary--dark">Shampooing</h3>
                        <ul class="service__list">
                            <li class="service__list-item">
                                <span class="service-title">Massaging</span>
                                <span class="service-price">$7</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service__links">
                    <a href="https://jerseysclipsbrews.mylocalsalon.com/onlinequeue/home?siteGuid=a2c0509f29c4e311a69b0050563fff01&promptForFullScreen=True" class="btn btn--light service__link">Sign In</a>
                    <a href="https://console.shortcutssoftware.com/wallboard/wallboardForSite/5214291456" class="btn btn--light service__link">Waitlist</a>
                </div>
            </div>
        </section>

        <section class="section-reviews">
            <a href="https://www.yelp.com/biz/jerseys-clips-and-brews-chico"><h2 class="heading-secondary heading-secondary--light">Reviews</h2></a>
            <div class="row">
                <div class="col-lg-4">
                    <div class="review">
                        <div class="review__user">
                            <h2 class="hteading-secondary heading-secondary--light">Matthew S.</h2>
                        </div>
                        <div class="review__quote">
                            <p><span class="u-hide-xs">Great place to grab a haircut.</span> <span class="review__highlight">Friendly staff and beer on tap.</span> <span class="u-hide-xs">Specials for the military and a wide variety of different deals. They do more than just haircuts, Shampoo Massage, beard trim, neck trim  etc. Highly recommend Jersey's!</span></p>
                        </div>
                        <div class="review__stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="review">
                        <div class="review__user">
                            <h2 class="hteading-secondary heading-secondary--light">Bryon E.</h2>
                        </div>
                        <div class="review__quote">
                            <p><span class="u-hide-xs">Great idea, I have always hated waiting in an uncomfortable chair, smelling hairspray, looking at old homemaking magazines for a haircut.</span> <span class="review__highlight">The concept of drinking a beer while waiting is unique and overdue.</span> <span class="u-hide-xs">Has a sports bar feel. Worth checking out if you are sick of salons.</span></p>
                        </div>
                        <div class="review__stars">&#9733;&#9733;&#9733;&#9733;</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="review">
                        <div class="review__user">
                            <h2 class="hteading-secondary heading-secondary--light">Susan T.</h2>
                        </div>
                        <div class="review__quote">
                            <p><span class="u-hide-xs">This my favorite place for my husband to get his hair cut when we come to Chico. The girls are great, I can have a beer and relax...recheck our shopping list. And my husband's hair cut looks great.</span> <span class="review__highlight">Awesome place!!!</span></p>
                        </div>
                        <div class="review__stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-contact" id="section-contact">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact__hours">
                        <h3 class="heading-tertiary heading-tertiary--dark">Business Hours</h3>
                        <p>M-F : 10:00am - 7:00pm</p>
                        <p>Sat : 10:00am - 6:00pm</p>
                        <p>Sun : 11:00am - 5:00pm</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3 class="heading-tertiary heading-tertiary--dark">Contact</h3>
                    <p>(530) 893-2547</p>
                    <p>615 Mangrove Ave. #120<br/>Chico, CA 95926</p>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <a href="https://www.facebook.com/jerseys.brews" class="footer__icon">
            <img src="assets/img/facebook.png" alt="Facebook" class="footer__social-icon">
        </a>
        <a href="https://www.yelp.com/biz/jerseys-clips-and-brews-chico" class="footer__icon">
            <img src="assets/img/yelp.png" alt="Facebook" class="footer__social-icon">
        </a>
        <p class="footer__copyright"><span class="footer__reserved">All Rights Reserved &copy; 2018</span> <a href="https://www.linkedin.com/in/spencermcw" class="link">Spencer McWilliams</a></p>
    </footer>

</body>