.btn {
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        display: inline-block;
        padding: 1.5rem 4rem;
        width: 15rem;
        margin: 0 1rem;
        position: relative;
        text-decoration: none;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: all 0.2s;
        // Change for <button> element
        border: none;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba($color-black, .4);
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba($color-black, .4);
    }

    &:focus,
    &:active {
        outline: none;
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba($color-black, .4);
    }

    &--light {
        background-color: $color-tertiary;
        color: $color-gray-dark;
    }

    &--dark {
        background-color: $color-primary-dark;
        color: $color-white;
    }

    @include media-breakpoint-down(sm) {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}