.drink-box {
    display: block;
    position: relative;
    height: 10rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba($color-black, .4);
    color: $color-black;
    background-position: 50% 50%;
    background-size: 150%;
    transition: all .2s;

    &:hover {
        transform: translateY(-5px) scale(1.05);
        background-size: 175%;
    }

    &__title {
        @include align-middle;
        width: 100%;
    }

    &--sierra-nevada {
        @include drink-box-background("../img/sierra-nevada.jpg");
    }

    &--budweiser {
        @include drink-box-background("../img/budweiser.jpg");
    }

    &--corona {
        @include drink-box-background("../img/corona.png");
    }

    &--shock-top {
        @include drink-box-background("../img/shock-top.png");
    }

    &--coca-cola {
        @include drink-box-background("../img/coca-cola.jpg");
    }

    &--root-beer {
        @include drink-box-background("../img/rootbeer.jpg");
    }
}