.review {
    display: inline-block;
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 3px;
    background-color: $color-primary-mid;
    width: 100%;

    &:hover > &__user {
        transform: rotateZ(-4deg) scale(1.2);
    }

    &:hover > &__stars {
        color: $color-tertiary;
        transform: scale(1.2);
        letter-spacing: .8rem;
    }

    &:hover > &__quote > p > &__highlight {
        color: $color-tertiary;
    }

    &__user {
        text-align: center;
        margin-bottom: 1rem;
        transition: all .2s;
    }

    &__quote {
        margin-bottom: 1.3rem;
        text-align: center;
    }

    &__stars {
        text-align: center;
        letter-spacing: 1rem;
        font-size: 3rem;
        line-height: 0.8;
        transition: all .2s;
        @include media-breakpoint-down(sm) {
            color: $color-tertiary;
        }
    }

    &__highlight {
        transition: all .2s;
    }
}