.u-mb-s { margin-bottom: 1rem !important; }
.u-mb-m { margin-bottom: 2rem !important; }
.u-mb-l { margin-bottom: 4rem !important; }
.u-mb-xl { margin-bottom: 8rem !important; }

.u-hide-md {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.u-hide-xs {
    @include media-breakpoint-down(xs) {
        display: none;
    }
}