// FONTS
$font-slab: Alfa Slab One, cursive;
$font-didact: Didact Gothic, sans-serif;
$default-font-size: 1.6rem;

// TEXT COLORS
$color-white: #fff;
$color-black: #000;
$color-gray-light: #eee;
$color-gray-mid: #777;
$color-gray-dark: #333;


// THEME COLORS
$color-primary-dark: #59232C;
$color-primary-mid: #7d4e57;
$color-primary-light: #af8d86;
$color-secondary: #b5363c;
$color-tertiary: #f2bc52;
