.header {
    height: 100vh;
    position: relative;
    background-image: 
        linear-gradient(
            to right,
            rgba($color-primary-dark, 0.8),
            rgba($color-tertiary, 0.8)),
        url(../img/chairs.jpg);
    background-position: top;
    background-size: cover;

    @include media-breakpoint-down(sm) {
        height: 85vh;
    }

    @include media-breakpoint-up(md) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
    }

    &__text-box {
        @include align-middle;
        text-align: center;
        color: $color-gray-light;
    }
}
